<!DOCTYPE html>  
<html>  
  <head>  
    <title>Bootstrap basic Template</title>  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <!-- Bootstrap -->  
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">  
  </head>  
  <body>  
	<div class="big">取引一覧</div>
    <hr>
	<div class="grey">検索条件を入力して、必要な取引情報を検索してください。</div>
    <script src="http://code.jquery.com/jquery.js"></script>  
    <script src="js/bootstrap.min.js"></script> 
	<div class="container">
	<form>
		<div class="row">
			<div class="span4">
				<fieldset class="border">
					<legend class="legend">取引IDで</legend>
					<div class="grey form-group">
					<label for="IDSearch">日時検索</label>
					<select>
						
						
						  
					</div>
					
					<div>
				</fieldset>
			</div>
			<div class="span4">
				<fieldset class="border">
					<legend class="legend">取引ステータス検索</legend>
					<div class="grey form-group">
					<label for="IDSearch">日時検索</label>
					<input type="text" class="form-control" id="exampleInputEmail" placeholder="Enter email">
					<div>
				</fieldset>
				
			</div>
		</div>
		<div class="row">
			<fieldset class="border">
			<legend class="legend">取引日で検索</legend>
			<div class="span3">
				<div class="grey form-group">
				<label for="IDSearch">日時検索</label>
				<input type="text" class="form-control" id="exampleInputEmail" placeholder="Enter email">
				<div>
			</div>
			<div class="span3">
				<div class="grey form-group">
				<label for="IDSearch">取引開始日</label>
				<input type="text" class="form-control" id="exampleInputEmail" placeholder="Enter email">
				<div>
			</div>
			<div class="span3">
				<div class="grey form-group">
				<label for="IDSearch">取引終了日</label>
				<input type="text" class="form-control" id="exampleInputEmail" placeholder="Enter email">
				<div>
			</div>
			</fieldset>
		</div>
		<div class="row center">
			<button type="submit" class="btn btn-info">Search</button>
		</div>
	</form>
	</div>
  </body>  
</html>  