<!DOCTYPE html>  
<html>  
  <head>  
    <title>Bootstrap basic Template</title>  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <!-- Bootstrap -->  
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">  
  </head>  
  <body>  
	<div class="big">取引一覧</div>
    <hr class="border">
	<div class="grey">検索条件を入力して、必要な取引情報を検索してください。</div>
    <script src="http://code.jquery.com/jquery.js"></script>  
    <script src="js/bootstrap.min.js"></script> 
	<div class="container">
	<form>
		<div class="row">
			<div class="span4">
				<fieldset class="border">
					<legend class="legend">取引IDで</legend>
					<div class="grey form-group">
					<label for="IDSearch">日時検索</label>
					<select>
						<option>1</option>
						<option>2</option>
						<option>3</option>
					</select>
					
						
						
						  
					</div>
					
					<div>
				</fieldset>
			</div>
			<div class="span4">
				<fieldset class="border">
					<legend class="legend">取引ステータス検索</legend>
					<div class="grey form-group">
					<label for="IDSearch">日時検索</label>
					<select>
						<option>1</option>
						<option>2</option>
						<option>3</option>
					</select>
					<div>
				</fieldset>
				
			</div>
		</div>
		<div class="row">
			<fieldset class="border">
			<legend class="legend">取引日で検索</legend>
			<div class="span3">
				<div class="grey">
				<label for="IDSearch">日時検索</label>
				<select>
					<option>1</option>
					<option>2</option>
					<option>3</option>
				</select>
				
				<div>
			</div>
			<div class="span3">
				<div class="grey">
				<label for="IDSearch">取引開始日</label>
				<select>
					<option>1</option>
					<option>2</option>
					<option>3</option>
				</select>
				
				<div>
			</div>
			<div class="span3">
				<div class="grey">
				<label for="IDSearch">取引終了日</label>
				<select>
					<option>1</option>
					<option>2</option>
					<option>3</option>
				</select>
				
				<div>
			</div>
			</fieldset>
		</div>
		<div class="row center">
			<button type="submit" class="btn btn-info">Search</button>
		</div>
	</form>
	</div>
	<hr class="border">
	<div class="container">
		<div class="page_marker">
		<ul class="pagination">
		  <li><a href="#">&laquo;</a></li>
		  <li class="active blue"><a href="#">1</a></li>
		  <li><a href="#">2</a></li>
		  <li><a href="#">3</a></li>
		  <li><a href="#">4</a></li>
		  <li><a href="#">5</a></li>
		  <li><a href="#">&raquo;</a></li>
		</ul>
		</div>
		<div>
			<table class="bordered-table">
				<tr>
					<td>No.</td>
					<td>日時</td>
					<td>カード種類</td>
					<td>カード番号</td>
					<td>取引ID</td>
					<td>金額</td>
					<td>ステータス</td>
					<td>手数料</td>
					<td>Net</td>
				</tr>
			</table>
		</div>
	</div>
  </body>  
</html>  